HOST_NAME=localhost
SECRET_KEY=very_secret
CORS_ALLOWED_ORIGINS=http://localhost:8888,http://localhost:5173
GUNICORN_WORKERS=8
DB_ENGINE=django.db.backends.postgresql
DB_HOST=db
DB_PORT=5432
DB_NAME=onyx
DB_USER=postgres
DB_PASSWORD=postgres
ONYX_PROJECTS=./onyx/projects/
ONYX_LOGS=./logs/
